html, body
{
    height: 100%;
    @include text-antialias();

    background: $gray-lighter;
}
a
{
    cursor: pointer;
    text-decoration: none !important;

    &:hover
    {
        color: lighten(saturate($link-color, 25%), 10%);
    }
}
a, .btn, button
{
    @include transitions();
    outline: none !important;
}
[hidden],
template
{
    display: none !important;
}
hr
{
    float: none;
    clear: both;
    margin: 20px 0;
}
h1, h2, h3, h4, h5, h6
{
    //margin: 0;
    //text-shadow: $gray-dark 0 0 4px;
}