#content-container
{
    padding: 0 15px 30px;

    overflow: hidden;

    //test
    height: 1200px;
}
#footer-container
{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}

.container-fluid
{
    padding: 0;
}
@media (min-width: $screen-xs-min) {
    .container-fluid
    {
        padding: 0;
        margin: 0 2%;
    }
}
@media (min-width: $screen-md-min) {
    .container-fluid
    {
        margin: 0 6%;
    }
}
@media (min-width: $screen-lg-min) {
    .container-fluid
    {
        margin: 0 10%;
    }
}