<div class="comic-container">
    <div id="main-reader" class="comic-reader">

        <!-- Top Bar -->
        <div class="reader-top-bar" sticky top="54">
            <div class="row bottom-xs">
                <div class="col-md-1 hidden-xs hidden-sm">
                    <div class="reader-guide-controls text-left">
                        <a class="btn control-button" ng-click="showGuide = !showGuide" uib-tooltip="{{showGuide ? 'Hide' : 'Show'}} Guide">
                            <span class="fa fa-lg" ng-class="{'fa-bars': !showGuide, 'fa-arrow-left': showGuide}"></span>
                            &nbsp;
                            Guide
                        </a>
                    </div>
                </div>
                <div class="col-xs-1 text-right">
                    <a class="btn control-button" uib-tooltip="Previous Page">
                        <span class="fa fa-lg fa-chevron-left"></span>
                    </a>
                </div>
                <div class="col-xs-10 col-md-8">
                    <div class="row bottom-xs">
                        <div class="col-xs">
                            <div class="reader-episode-meta-container">
                                <div class="reader-episode-meta">
                                    Chapter 4 Episode 12
                                </div>
                                <div class="reader-episode-title">
                                    Episode Title Goes Here
                                </div>
                            </div>
                        </div>
                        <div class="col-xs">
                            <div class="reader-view-controls text-right" ng-hide="$ctrl.isFullscreen">
                                <a class="btn control-button" ng-click="$ctrl.openFullscreenReader()" uib-tooltip="Reader Mode">
                                    <span class="fa fa-lg fa-arrows-alt"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 text-left">
                    <a class="btn control-button" uib-tooltip="Next Page">
                        <span class="fa fa-lg fa-chevron-right"></span>
                    </a>
                </div>
                <div class="col-xs-2 hidden-xs hidden-sm">
                </div>
                <!--<div class="reader-view-controls">
                    <a class="btn btn-lg control-button" uib-tooltip="Reader Mode">
                        <span class="fa fa-lg fa-arrows-alt"></span>
                    </a>
                </div>-->
            </div>
        </div>

        <!-- Main Area -->
        <div class="reader-main-area clearfix">
            <div class="row" ng-style="{height: $ctrl.isFullscreen ? '100%' : 'auto'}">
                <div class="col-md-2">
                </div>
                <div class="col-xs-10 col-md-8">
                    <img class="reader-page-image img-responsive center-block" src="../../../../../images/comic/page-1.jpg">
                </div>
            </div>
        </div>

        <!-- Bottom Bar -->
        <div class="reader-bottom-bar">
            <div class="row right-xs">
                <div class="col-xs text-right">
                    <div class="reader-social-buttons">
                        Share this shit:
                        <a class="btn btn-social-icon btn-facebook" uib-tooltip="Facebook">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a class="btn btn-social-icon btn-twitter" uib-tooltip="Twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a class="btn btn-social-icon btn-instagram" uib-tooltip="Instagram">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a class="btn btn-social-icon btn-tumblr" uib-tooltip="Tumblr">
                            <span class="fa fa-tumblr"></span>
                        </a>
                        <a class="btn btn-social-icon btn-default" uib-tooltip="Copy to Clipboard">
                            <span class="fa fa-copy"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>