<div class="comic-container">
    <div class="comic-reader">
        <div class="reader-top-bar" sticky top="54">
            <div class="row bottom-xs" style="margin: 0;">
                <div class="reader-guide-heading" ng-class="{'shown': showGuide}">
                    Guide
                </div>
                <div class="reader-guide-controls">
                    <a class="btn btn-lg" uib-tooltip="{{showGuide ? 'Hide' : 'Show'}} Guide" tooltip-placement="right" ng-click="showGuide = !showGuide">
                        <span class="fa fa-lg" ng-class="{'fa-bars': !showGuide, 'fa-arrow-left': showGuide}"></span>
                    </a>
                </div>
                <div class="reader-episode-meta-container col-xs">
                    <div class="reader-episode-meta">
                        Chapter 4 Episode 12
                    </div>
                    <div class="reader-episode-title">
                        Episode Title Goes Here
                    </div>
                </div>
                <div class="reader-view-controls">
                    <a class="btn btn-lg" uib-tooltip="Reader Mode" tooltip-placement="left">
                        <span class="fa fa-lg fa-arrows-alt"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="reader-main-area">
            <div class="row">
                <div class="col-xs-12">
                    <img class="img-responsive center-block" src="../../../../../images/comic/page-1.jpg">
                </div>
            </div>
            <div class="reader-main-area-overlay">
                <div class="reader-guide" ng-class="{'shown': showGuide}">
                    <div class="row">
                        <div class="col-xs">
                            <h4>Chapter 1</h4>
                            <hr>
                            <h4>Chapter 2</h4>
                            <hr>
                            <h4>Chapter 3</h4>
                            <hr>
                            <h4>Chapter 4</h4>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>