<div class="comic-container">
    <h1 class="page-header">Comic Page</h1>

    <div class="comic-reader">
        <div class="reader-top-bar clearfix flex-container flex-v-center" sticky top="60">
            <div class="reader-guide-button flex-shrink">
                <a class="btn btn-lg btn-default">
                    <span class="fa fa-lg fa-bars"></span>
                </a>
            </div>
            <div class="reader-episode-meta flex-grow">
                Chapter 4 Episode 12
                <div class="h3 reader-episode-title">
                    Episode Title Goes Here
                </div>
            </div>
            <div class="reader-guide-button flex-shrink">
                <a class="btn btn-lg">
                    <span class="fa fa-lg fa-arrows-alt"></span>
                </a>
            </div>
        </div>
    </div>

</div>