<div class="clearfix">
    <h2 class="page-header">Log In</h2>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
            <form class="form-horizontal clearfix col-xs-12" ng-submit="$ctrl.login()" novalidate>
                <div class="form-group">
                    <label for="email" class="required">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email Address" ng-model="$ctrl.email" tabindex="1" required>
                </div>
                <div class="form-group">
                    <label for="password" class="required">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="$ctrl.password" tabindex="2" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary" tabindex="3">
                        <span class="fa fa-sign-in"></span>
                        Log In
                    </button>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <div class="h4">
                            <a ui-sref="register">Don't have an account? Sign up.</a>
                        </div>
                    </div>
                    <div class="text-center">
                        <a>Forgot Password?</a>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>

</div>