.comic-reader
{
    .reader-top-bar
    {
        background: $gray-darker;
        color: white;

        .reader-guide-button
        {
        }
        .reader-episode-meta
        {
            padding: 1px 0 5px;
            margin-left: 15px;

            .reader-episode-title
            {
                margin: 2px 0;
            }
        }
        .reader-controls
        {
        }

        .btn
        {
            padding: 15px 20px;
        }
    }
    .reader-main-area
    {
        background: $gray-base;
    }
}