.comic-container
{
    padding-top: 10px;

    .reader-social-buttons
    {
        padding: 0 15px;

        .btn
        {
            margin-bottom: 4px;
        }
    }
}
.comic-reader
{
    display: flex;
    flex-direction: column;

    .reader-top-bar
    {
        flex: 0 1 auto;

        background: white;
        border-bottom: $gray-lighter 1px solid;

        .reader-guide-controls
        {
        }
        .reader-episode-meta-container
        {
            padding: 10px 0 4px;

            .reader-episode-meta
            {
                font-size: $font-size-h5;
            }
            .reader-episode-title
            {
                font-size: $font-size-h3;
                margin: 2px 0 0;
            }
        }
        .reader-view-controls
        {
        }

        .control-button
        {
            padding: 15px 20px;
        }
    }
    .reader-main-area
    {
        flex: 1 1 auto;

        position: relative;
        padding: 30px 0;

        .reader-guide
        {
            position: absolute;
            width: 25%;
            height: 100%;
            padding: 0;

            background: transparentize($gray-lighter, 0.025);

            margin-left: -25%;

            @include transitions(margin);

            &.shown
            {
                margin-left: 0;
                padding: 0 15px;
            }
        }
    }
    .reader-bottom-bar
    {
        flex: 0 1 auto;

        background: white;
        border-top: $gray-lighter 1px solid;

        padding: 15px 0;
    }
}
.comic-reader.is-fullscreen
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .reader-top-bar
    {
        background: $gray-darker;
        color: white;
        border-color: $gray-base;

        &:hover
        {
            margin-top: 0;
        }

        .reader-episode-meta-container
        {
            padding: 4px 0 2px;

            .reader-episode-meta
            {
                font-size: $font-size-h6;
            }
            .reader-episode-title
            {
                font-size: $font-size-h4;
            }
        }
        .control-button
        {
            color: white !important;
        }
    }
    .reader-main-area
    {
        background: $gray-base;
        height: calc(100% - 55px);
    }
    .reader-bottom-bar
    {
        display: none;

        background: $gray-darker;
        color: white;
        border-color: $gray-base;
    }
}