.comic-container
{
    padding-top: 10px;

    .reader-social-buttons
    {
        padding: 0 15px;

        .btn
        {
            margin-bottom: 4px;
        }
    }
}
.comic-reader
{
    .reader-top-bar
    {
        background: white;
        border-bottom: $gray-lighter 1px solid;

        .reader-episode-meta-container
        {
            padding: 10px 0 4px;

            .reader-episode-meta
            {
                font-size: $font-size-h5;
            }
            .reader-episode-title
            {
                font-size: $font-size-h3;
                margin: 2px 0 0;
            }
        }
        .control-button
        {
            padding: 15px 20px;
        }
    }
    .reader-main-area
    {
        position: relative;
        padding: 30px 0;

        .reader-guide
        {
            position: absolute;
            width: 25%;
            height: 100%;
            padding: 0;

            background: transparentize($gray-lighter, 0.025);

            margin-left: -25%;

            @include transitions(margin);

            &.shown
            {
                margin-left: 0;
                padding: 0 15px;
            }
        }
    }
    .reader-bottom-bar
    {
        background: white;
        border-top: $gray-lighter 1px solid;

        padding: 15px 0;
    }
}
.comic-reader.is-fullscreen
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .reader-top-bar
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        z-index: 999;

        background: none;
        border: none;

        .reader-info-controls
        {
            .control-button
            {
                background: none;
            }
        }
        .reader-player-controls
        {
        }
        .reader-episode-meta-container
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;

            padding: 10px 0 50px 80px;

            background: linear-gradient(to bottom, $gray-base, transparent);
            color: white;

            @include transitions(opacity);
        }

        .control-button
        {
            color: $gray;

            &:hover
            {
                color: white;
            }
        }
    }
    .reader-main-area
    {
        background: $gray-base;
        height: 100%;
    }
}