<div class="comic-reader is-fullscreen">

    <!-- Main Area -->
    <div class="reader-main-area">
        <div class="row" style="height: 100%">
            <div class="col-md-2">
            </div>
            <div class="col-xs-10 col-md-8">
                <img class="reader-page-image img-responsive center-block" src="../../../../../../images/comic/page-1.jpg">
            </div>
        </div>
    </div>

    <!-- Player Controls -->
    <div class="reader-bottom-bar">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="reader-player-controls">
                    <div class="row middle-xs center-xs around-xs">
                        <div class="col-xs">
                            <a class="btn control-button">
                                <span class="fa fa-2x fa-angle-double-left"></span>
                            </a>
                            <a class="btn control-button">
                                <span class="fa fa-3x fa-chevron-left"></span>
                            </a>
                            <a class="btn control-button">
                                <span class="fa fa-3x fa-chevron-right"></span>
                            </a>
                            <a class="btn control-button">
                                <span class="fa fa-2x fa-angle-double-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="reader-episode-meta-container text-center">
                    <div class="reader-episode-meta">
                        Chapter 4 Episode 12
                    </div>
                    <div class="reader-episode-title">
                        Episode Title Goes Here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>